<div class="row">
	<div class="col m-0 p-0">
		<mat-grid-list
      cols="1"
      rowHeight="2:1"
      class="parallax"
      style="text-align: center">
      <mat-grid-tile>
        <div class="col-6">
          <h1 class="fw-bold fs-1 text-light">Puertas Carlos Haro</h1>
          <p class="text-light fw-bold">
            <strong
              >PUERTAS RÚSTICAS DE MADERA MACIZA EXTERIOR E INTERIOR. SUELOS
              LAMINADOS, TARIMAS FLOTANTES DE MADERA NATURAL, ARMARIOS
              EMPOTRADOS, VESTIDORES A MEDIDA, VENTANAS Y MUCHO MÁS.</strong
            >
          </p>
          <p class="text-light fw-bold">
            <em
              >APORTAMOS SOLUCIONES CREATIVAS PARA TU HOGAR CON LA CALIDAD QUE
              MERECES.</em
            >
          </p>
          <p>
            <button mat-stroked-button color="primary">
              <a
                class="btn btn-secondary-outline btn-lg text-light fw-bold"
                href="/catalogo-de-puertas-y-armarios/"
                >VER NUESTRO CATÁLOGO</a
              >
            </button>
          </p>
        </div>
      </mat-grid-tile>
      <!-- <mat-grid-tile>a</mat-grid-tile> -->
    </mat-grid-list>
	</div>
</div>

