<!-- <mat-sidenav-container class="sidenav-container">
	<mat-sidenav
		#drawer
		class="sidenav"
		fixedInViewport
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="(isHandset$ | async) === false"
	>
		<mat-toolbar>Menu</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item href="#">Link 1</a>
			<a mat-list-item href="#">Link 2</a>
			<a mat-list-item href="#">Link 3</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button
				type="button"
				aria-label="Toggle sidenav"
				mat-icon-button
				(click)="drawer.toggle()"
				*ngIf="isHandset$ | async"
			>
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<span>puertas</span>
		</mat-toolbar>
		<ng-content></ng-content>
	</mat-sidenav-content>
</mat-sidenav-container> -->
<div class="row">
	<div class="col-12">
		<mat-toolbar color="primary" class="navbar navbar__basic">
			<!--<img
			  [width]="logo.width"
			  [height]="logo.height"
			  [ngSrc]="logo.path"
			  [alt]="logo.alt" />-->
			<span class="example-spacer"></span>
			<a href="">Home</a>
			<button
			  mat-button
			  [matMenuTriggerFor]="menu"
			  #clickHoverMenuTrigger="matMenuTrigger">
			  <a [routerLink]="['/catalogue']">Nuestro catalogo</a>
			</button>
			<mat-menu #menu="matMenu">
			  <button mat-menu-item *ngFor="let item of sections_catalogue">
				<a [routerLink]="[item.path]">{{ item.name }}</a>
			  </button>
			</mat-menu>
			<a [routerLink]="['/empresa']">Empresa</a>
			<a [routerLink]="['/contact']">Contacto</a>

			<button
			  mat-icon-button
			  class="example-icon"
			  aria-label="Example icon-button with menu icon">
			  <mat-icon>menu</mat-icon>
			</button>
		  </mat-toolbar>
		  <ng-content></ng-content>
	</div>
</div>
