.test_box {
  padding: 0;

  .inner {
    background-color: #333;
    background-image: url('https://picsum.photos/1024/768?image=1033');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 10px;
    overflow: hidden;

    .test_click {
      align-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, .1);
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      height: 300px;
      mix-blend-mode: normal;
      text-align: center;
      text-decoration: none;
      transition: all 300ms ease;

      &:hover {
        background-color: rgba(0, 100, 255, .5);
        mix-blend-mode: hard-light;

        .flex_this {
          margin-top: -5px;
        }
      }

      .flex_this {
        align-content: center;
        display: inherit;
        flex-wrap: inherit;
        height: auto;
        margin: 0;
        padding: 10px;
        transition: all 300ms ease;
        width: 100%;

        .test_title {
          display: block;
          font-weight: 700;
          margin: 0 0 20px;
          width: 100%;
        }


      }

      .test_link {
        border: 2px solid #fff;
        display: inline-block;
        font-size: .8em;
        font-weight: 700;
        letter-spacing: .1em;
        margin: 0 auto;
        padding: 10px 30px;
        text-transform: uppercase;

      }
    }
  }
}
