<img src="" alt="algo" />
<div>
	<h2><strong>Contacto con Puertas Carlos Haro</strong></h2>
	<a href="">ver ubicación <fa-icon [icon]="arrowTop"></fa-icon></a>
</div>
<p>
	SI QUIERES PONERTE EN CONTACTO PREFERIMOS QUE NOS CONTACTE A TRAVÉS DE
	NUESTRO NÚMERO DE MÓVIL ANTES QUE EL CORREO ELECTRÓNICO.
</p>
<blockquote class="telephone">
	<hr />
	<h3>Teléfono de contacto</h3>
	<p>607 95 14 49</p>
	<hr />
</blockquote>
<div class="form_doubts">
	<h2>Formulario para pequeñas dudas o sugerencias</h2>
	<p>
		Puedes solicitarnos presupuesto a través de este número de teléfono que
		te facilitamos.
	</p>
	<p>
		Preferimos el contacto mediante llamada telefónica debido a que no
		siempre estamos pendientes del correo electrónico.
	</p>
	<app-contact-form></app-contact-form>
	<img src="" alt="algo" />
	<p>
		Siempre tenemos nuestro móvil a mano. Si no te atendemos en el momento
		es que estamos trabajando duro, no te preocupes, te llamamos nosotros en
		la mayor brevedad posible.
	</p>
</div>
