.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.gallery-image {
  width: 100%;
}

@media (max-width: 800px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
